version: '3.8'

services:
  db:
    image: postgres:15.1-alpine
    volumes:
      - chat-app-data:/var/lib/postgres
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: 1832001
      POSTGRES_DB: chat-app

volumes:
  chat-app-data:
